In [1]:
import sqlite3

In [5]:
connection=sqlite3.connect('hello.db')
connection

In [10]:
con=sqlite3.connect(':memory:')
query="Select datetime('now', 'localtime')"
cursor=con.cursor()
time=cursor.execute(query)
time.fetchone()
con.close()

In [18]:
import sqlite3
with sqlite3.connect('hello.db') as file:
    cursor=file.cursor()
    query="Select datetime('now', 'localtime')"
    data=cursor.execute(query)
    
data.fetchone()

('2025-05-12 09:50:56',)

In [ ]:
with sqlite3.connect('students.db') as file:
    cursor=file.cursor()
    query="Create table Students(fname text, lname text, age int);"
    data=cursor.execute(query)

In [21]:
with sqlite3.connect('students.db') as file:
    cursor=file.cursor()
    query="Insert into Students Values('Ali', 'Valiev', 23);"
    data=cursor.execute(query)

In [55]:
create = """ 
CREATE TABLE IF NOT EXISTS Students (
    fname TEXT, 
    lname TEXT, 
    age INT
);
"""

data = """
INSERT INTO Students VALUES 
('Ali', 'Valiev', 23),
('Samadjon', 'Sayfullayev', 19);
"""
delete = """
DELETE FROM Students 
WHERE fname = 'Ali' AND lname = 'Valiev' AND age = 23;
"""

In [56]:
import sqlite3

with sqlite3.connect('bore.db') as file:    
    cursor = file.cursor()    
    cursor.execute(create)
    cursor.execute(data)
    cursor.execute(delete)

In [83]:
sql="""
CREATE TABLE IF NOT EXISTS Students (
    fname TEXT, 
    lname TEXT, 
    age INT);

INSERT INTO Students VALUES 
('Ali', 'Valiev', 23),
('Samadjon', 'Sayfullayev', 19), 
('hey', 'balabla', 23);

"""

In [84]:
with sqlite3.connect('baybaya.db') as f:
    cursor=f.cursor()
    cursor.executescript(sql)

In [86]:
import sqlite3
with sqlite3.connect('baybaya.db') as f:
    cursor=f.cursor()
    query='Select * from Students'
    data=cursor.execute(query)

data.fetchmany(3)

[('Ali', 'Valiev', 23),
 ('Samadjon', 'Sayfullayev', 19),
 ('hey', 'balabla', 23)]

In [87]:
import sqlite3
with sqlite3.connect('baybaya.db') as f:
    cursor=f.cursor()
    query='Select * from Students order by age desc'
    data=cursor.execute(query)

data.fetchall()

[('Ali', 'Valiev', 23),
 ('hey', 'balabla', 23),
 ('Samadjon', 'Sayfullayev', 19)]

In [96]:
student_values=(
    ('Ali', 'Valiev', 23),
    ('Samadjon', 'Sayfullayev', 19),    
    ('hey', 'balabla', 23)
)

In [98]:
import sqlite3
with sqlite3.connect('baybaya.db') as f:

    cursor=f.cursor()
    placeholders = ", ".join(['?'] * 3)
    data=cursor.executemany(f'INSERT INTO Students VALUES ({placeholders})', student_values)

In [103]:
fname=input('name?')
lname=input('surname?')
age=input('age?')

values=[(fname, lname, age)]


with sqlite3.connect('baybaya.db') as file:
    cursor=file.cursor()
    data=cursor.executemany(f'INSERT INTO Students VALUES(?, ?, ?)', values)

In [ ]:
import sqlite3

sql = """
CREATE TABLE IF NOT EXISTS Students (
    fname TEXT, 
    lname TEXT, 
    age INT
);

INSERT INTO Students (fname, lname, age) VALUES 
('Ali', 'Valiev', 23),
('Samadjon', 'Sayfullayev', 19), 
('hey', 'balabla', 23);
"""

with sqlite3.connect('heyya.db') as f:
    cursor = f.cursor()

   
    cursor.executescript(sql)


    try:
        cursor.execute('ALTER TABLE Students ADD COLUMN email TEXT')
    except sqlite3.OperationalError:
        print("Column 'email' already exists.")

    
    cursor.execute("UPDATE Students SET email='hello@gmail.com' WHERE email IS NULL")

    cursor.execute("SELECT * FROM Students")
    for row in cursor.fetchall():
        print(row)

Column 'email' already exists.
('Ali', 'Valiev', 23, 'hello@gmail.com')
('Samadjon', 'Sayfullayev', 19, 'hello@gmail.com')
('hey', 'balabla', 23, 'hello@gmail.com')
('Ali', 'Valiev', 23, 'hello@gmail.com')
('Samadjon', 'Sayfullayev', 19, 'hello@gmail.com')
('hey', 'balabla', 23, 'hello@gmail.com')
('Ali', 'Valiev', 23, 'hello@gmail.com')
('Samadjon', 'Sayfullayev', 19, 'hello@gmail.com')
('hey', 'balabla', 23, 'hello@gmail.com')
('Ali', 'Valiev', 23, 'hello@gmail.com')
('Samadjon', 'Sayfullayev', 19, 'hello@gmail.com')
('hey', 'balabla', 23, 'hello@gmail.com')

In [ ]:
import sqlite3

sql = """
CREATE TABLE IF NOT EXISTS Books (
    Title TEXT, 
    Author TEXT, 
    AgeYear_Published INT, 
    Genre TEXT
    );

-- Insert initial data
INSERT INTO Books (Title, Author, AgeYear_Published, Genre ) VALUES 
('To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction'),
('1984', 'George Orwell', 3	19490), 
('Kira Nerys', 'Bajoran', 29);
"""