In [1]:
# Sample dictionary
person = {
    'name': 'Alice',
    'age': 28,
    'city': 'London'
}

# Check if the key exists and get its value
city = person.get('city')

if city:
    print(f"City: {city}")  # Output: City: London
else:
    print("City is not available.")

# Check for a non-existing key
country = person.get('country', 'Country not specified')
print(country)  # Output: Country not specified

City: London
Country not specified

In [3]:
person = {
    'name': 'Alice',
    'age': 28,
    'city': 'London'
}
if 'name' in person:
    print("the key 'name' is present ")
else:
    print("the key 'name' is not present ")

the key 'name' is present

In [6]:
person = {
    'name': 'Alice',
    'age': 28,
    'city': 'London'
}
keys_count= len(person)
keys_count

3

In [7]:
person = {
    'name': 'Alice',
    'age': 28,
    'city': 'London'
}

list(person.keys())

['name', 'age', 'city']

In [8]:
person = {
    'name': 'Alice',
    'age': 28,
    'city': 'London'
}

list(person.values())

['Alice', 28, 'London']

In [11]:
person = {
    'name': 'Alice',
    'age': 28,
    'city': 'London'
}

friend={
    'surname' : 'dsadsa', 
    'age' : 123

}
person.update(friend)
person

{'name': 'Alice', 'age': 123, 'city': 'London', 'surname': 'dsadsa'}

In [13]:
person = {
    'name': 'Alice',
    'age': 28,
    'city': 'London'
}

if 'name' in person:
    del person['name']
else:
    print('that key does not exist')

In [14]:
person = {
    'name': 'Alice',
    'age': 28,
    'city': 'London'
}
person.clear()

In [17]:
person = {
    'name': 'Alice',
    'age': 28,
    'city': 'London'
}

if person:
    print('it has elements')
else:
    print('dict is empty')

it has elements

In [18]:
person = {
    'name': 'Alice',
    'age': 28,
    'city': 'London'
}
person.items()

dict_items([('name', 'Alice'), ('age', 28), ('city', 'London')])

In [25]:
person = {
    'name': 'Alice',
    'age': 28,
    'city': 'London'
}

person.update({'name': 'Bob'})
person

{'name': 'Bob', 'age': 28, 'city': 'London'}

In [34]:
person = {
    'name': 'Alice',
    'age': 28,
    'city': 'London',
    'region': 'London'
}

vount=0
for value in person.values():
    if value=='London':
        vount += 1

vount

2

In [35]:
person = {
    'name': 'Alice',
    'age': 28,
    'city': 'London'
}

swap_person={value: key for key, value in person.items()}
swap_person

{'Alice': 'name', 28: 'age', 'London': 'city'}

In [ ]:
person = {
    'name': 'Alice',
    'age': 28,
    'city': 'London'
}

value='Alice'

keys_value=[]
for key, val in person.items():
    if val==value:
       keys_value.append(key)

keys_value

['name']

In [42]:
keys=['name', 'age']
values=['Samadjon', '19']
pair= dict(zip(keys, values))
pair

{'name': 'Samadjon', 'age': '19'}

In [43]:
person = {
    'name': 'Alice',
    'age': 28,
    'city': {
        'Street':'London 12'
    }
}
if any(isinstance(value, dict) for value in person.values()):
    print("this dictionary contains a nested dictionary")
else:
     print("this dictionary dooesn't contain a nested dictionary")

this dictionary contains a nested dictionary

In [49]:
person = {
    'name': 'Alice',
    'age': 28,
    'city': {
        'Street':'London 12'
    }
}
city=person.get('city')
street=city.get('Street')
street

'London 12'

In [53]:
from collections import defaultdict

# Create a defaultdict with list as the default_factory (defaults to an empty list)
d = defaultdict(list)

# Accessing a missing key will return an empty list (default)
print(d['missing_key'])  # Output: []

# Adding items to the list for a specific key
d['fruits'].append('apple')
d['fruits'].append('banana')

print(d['fruits'])  # Output: ['apple', 'banana']

[]
['apple', 'banana']

In [1]:
person = {
    'name': 'Alice',
    'age': 28,
    'city': 'London'
}

# Get all values from the dictionary
values = person.values()

# Convert the values to a set to remove duplicates and count the unique values
unique = len(set(values))

# Print the number of unique values
print(unique)

3

In [4]:
person = {
    'name': 'Alice',
    'age': 28,
    'city': 'London'
}

keys= sorted(person.items())
keys

[('age', 28), ('city', 'London'), ('name', 'Alice')]

In [11]:
person = {
    'name': 'Alice',
    'age': 'dsa',
    'city': 'London'
}

values= sorted(person.items(), key=lambda item:item[1])

values

[('name', 'Alice'), ('city', 'London'), ('age', 'dsa')]

In [17]:
person = {
    'name': 'name',
    'age': 'age',
    'city': 'city'
}

if sorted(person.values())== sorted(person.keys()):
   print('same')
else:
    print('not same')

same

In [19]:
person = {
    'name': 'name',
    'age': 'age',
    'city': 'city'
}
info = {
    'name': 'Alice',
    'age': 'dsa',
    'city': 'London'
}

if sorted(person.keys())==sorted(info.keys()):
    print('keys are same')
else:
    print('not same')

keys are same

In [20]:

keys=('name', 'age')
values=('Samadjon', '19')
pair= dict(zip(keys, values))
pair

{'name': 'Samadjon', 'age': '19'}

In [24]:
info = {
    'name': 'Alice',
    'age': 'dsa',
    'city': 'London'
}

first= next(iter(info.items()))
first

('name', 'Alice')